* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 219, 196);
}

.container {
    border: .25rem solid black;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(116, 202, 255);
    border-radius: .5rem;
    padding: 1rem .5rem;
}

#screen {
    background-color: #ffb0eb;
    border-radius: 1vh;
    border: 4px solid #ff46d1;
    height:5rem;
    margin: 1rem 0vw;
    font-size: 2.20rem;
    color: red;
}

table {
    background-color: rgb(199, 131, 255);
    border-radius: .5rem;
    border: 4px solid rgb(161, 45, 255);
    margin: .5rem 0vw;
}

button {
    height: 5rem;
    width: 6rem;
    margin: .5rem .25vw;
    border: .25rem solid #4CAF50;
    border-radius: 1.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    background: rgb(255, 255, 255);
}

.symbol {
    color: rgb(0, 236, 205);
}

.clear {
    color: rgb(255, 20, 20);
}

.equal {
    color: rgb(46, 228, 0);
}

#extra {
    color: rgb(0, 104, 202);
}
@media only screen and (max-width: 540px) {
    button {
        height: 3rem;
        width: 4rem;
        font-size: 1.5rem;
        margin: .5rem .25rem;
    }
    #screen{        
    font-size: 1.5rem;
    }
  }